In [3]:
#Create an empty list called my_list

my_list = []
my_list

[]

In [5]:
#Append the following elements to my_list: 10, 20, 30, 40

my_list.append(10)
my_list.append(20)
my_list.append(30)
my_list.append(40)
my_list

[10, 20, 30, 40]

In [7]:
#Insert the value 15 at the second position in the list

my_list.insert(1, 15)
my_list

[10, 15, 20, 30, 40]

In [9]:
#Extend my_list with another list: [50, 60, 70]

my_list.extend([50, 60, 70])
my_list

[10, 15, 20, 30, 40, 50, 60, 70]

In [11]:
#Remove the last element from my_list

my_list.pop()
my_list

[10, 15, 20, 30, 40, 50, 60]

In [13]:
#Sort my_list in ascending orde

my_list.sort()
my_list

[10, 15, 20, 30, 40, 50, 60]

In [37]:
#Find and print the index of the value 30 in my_list

for idx, val in enumerate(my_list):
    if val == 30:
        print(f"{val} is index {idx}")

30 is index 3